target/
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

.idea/
*.iml
*.iws
out/
.smarttomcat/

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

*.class
*.log

.DS_Store
Thumbs.db
application.properties
src/main/resources/application.properties
src/main/java/com/generatorproject/dao/DbContext.java
db_v9.sql